{% extends "a_base.html" %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block profile %}
active
{% endblock %}

{% block content %}
<div class="col" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">
      {% if req.user %}
      Привет, {{req.user}}!
      {% else %}
      Вы не зарегистрированы в системе.
      {% endif %}
    </span>
    {% if req.user.is_superuser %}
    <h1 style="margin-top: 20px; margin-left: 20px;"><a href="http://127.0.0.1:8000/admin/">Панель администирования сайтом.</a></h1>
    {% endif   %}
  </div>
</div>
{% endblock %}