{% extends "a_base.html" %}
{% load static %}

{% block title %}
Разместить объявление
{% endblock %}

{% block advertisement-post %}
active
{% endblock %}

{% block content %}
<!-- Validation errors from Django -->
<style>
  ul.errorlist {
    position: relative;
    font-size: 14px;
    list-style: none;
    color: #94321ac4;
    padding-left: 2px;
    margin-bottom: 0;
  }
  ul.errorlist li {
    width: calc(100% + 45px);
  }
</style>

  <div class="row" style="max-width: 100%;  max-height: 130px;"> <!-- Fix god damn bootstrap class "row" -->
    <div class="col" style="margin: 25px; margin-left: 28px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>

  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mb-3 offset-sm-5">
        <div class="col-6">
          {{ form.as_p }}
        </div>
      </div>
      <div class="row mb-3 offset-sm-6" > 
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}