{% extends 'a_base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block main-page %}
active
{% endblock %}

{% block content %}
<style>
  div.carousel-item {
    display: none !important;
  }
  div.carousel-item.active {
    display: flex !important;
  }
</style>
<div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
  {% for adver in scrollAdvertisements %}
  <div class="carousel-inner">
    <div class="carousel-item{% if adver == firstadver %} active{% endif %}" style="height: 512px; display: flex;">
      <img src="
      {% if adver.image %}
      {{ adver.image.url }}
      {% else %}
      {% static 'img/image.png' %}
      {% endif %}" 
      class="mx-auto d-block w-33" alt="My image" style="max-height: 512px; max-width: 512px; object-fit: contain; align-self: center;">
    </div>
  </div>
  {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<div class="container" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">В центре внимания</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs bg-white">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Проверенные продавцы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Новинки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Избранное</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Еще что-нибудь</a>
      </li>
    </ul>
    <form class="row g-3" method="get">
      <div class="col-auto w-50">
        <input name="search" type="text" class="form-control" {% if title %} value="{{title}}" {% endif %}>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">Найти</button>
      </div>
    </form>
  </div>
  {% for adv in advertisements %}
  <div class="col">
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
          <a href="{{ adv.get_absolute_url }}" class="nav-link">
            <img src="{% if adv.image %} {{ adv.image.url }} {% else %} {% static 'img/image.png' %} {% endif %}" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ adv.get_absolute_url }}" class="nav-link"><strong>{{ adv.title }}</strong></a>
            </h5>
            <a href="{{ adv.get_absolute_url }}" class="nav-link">
              <p class="card-text">
                {{ adv.description }}
              </p>
              <span>Автор: {{ adv.author }}</span>
              <p class="card-text"><small class="text-muted">Размещено: {{ adv.timeOfCreate }}</small></p>
              <p>Цена:{% block price %} <span style="font-weight: 500;">{{adv.price}}</span> {% endblock %}</p>
              <p>Торг:{% if adv.tradePossibility %} <span style="color: rgb(0, 150, 0); font-weight: 500;">Уместен</span> 
                {% else %} <span style="color: rgb(150, 0, 0); font-weight: 500;">Неуместен</span> 
                {% endif %} 
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<footer style="padding: 100px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="#">Добавьте</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">сюда<span
                  class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">что</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">хотите</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">например</a>
            <a class="dropdown-item" href="#">ссылки на социальные сети</a>
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</footer>
<script>
  function changeCarouselIcon(direction) {
    const curItem = document.querySelector("div.carousel-item.active")
    const indexCurItem = allItems.indexOf(curItem)
    curItem.classList.toggle("active")
    
    switch (direction) {
      case "prev":
        let indexPrevSpan = indexCurItem - 1;
        allItems[ indexPrevSpan < 0 ? allItems.length-1 : indexPrevSpan].classList.add("active");
        break;
      case "next":
        let indexNextSpan = indexCurItem + 1;
        allItems[ indexNextSpan ==  allItems.length ? 0 : indexNextSpan].classList.add("active");
        break;
    }
  }

  const allItems = Array.from(document.querySelectorAll("div.carousel-item"))
  const prevIconButton = document.querySelector("button.carousel-control-prev");
  const nextIconButton = document.querySelector("button.carousel-control-next");

  prevIconButton.addEventListener("click", () => changeCarouselIcon("prev"))
  nextIconButton.addEventListener("click", () => changeCarouselIcon("next"))
</script>
{% endblock %}
